# Visual Studio
.vs/
*.suo
*.user
*.aps
*.userosscache
*.sln.docstates
*.slnx
**/.vs/


# Build directories
out/
build/
bin/
obj/
Debug/
Release/
x64/
x86/
drivers/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CMakeUserPresets.json
CMakeSettings.json
instruct.txt

# Compiled files
*.exe
*.dll
*.pdb
*.o
*.obj
**/*.json
*.json
*.lib

# Qt
*.moc
*pro.user
*.qbs.user
*.ui

# BD
tasks.db
*.log

dist/
git